

<a href="{% url 'food:details' food.id %}" class="">
  <div class=" col-span-1 grid justify-items-center  ">
    {% if food.image.url %}
      <div class="m-6  justify-self-center ">
        <img src="{{ food.image.url }}" class="h-48 rounded-2xl w-full max-w-fit object-cover" alt="...">
      </div>
    {% endif %}
      <div class="">
        <h5 class="font-semibold text-center">{{ food.name }}</h5>
        <h4 class="font-medium text-center">{{ food.price }}</h6>
      </div>
  </div>
</a>