

    <footer>
      <section class="grid grid-cols-3">

      </section>
      <section>
        <a href="" class="text-dark me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-dark me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-dark me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-dark me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-dark me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-dark me-4">
          <i class="fab fa-github"></i>
        </a>

      </section>
      <section>
        <p>
          The right place to be. Get connected to the best food vendors in your locality and beyond.
        </p>
        <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright
        <a class="text-dark" href="https://mdbootstrap.com/"
           >Foodweb</a
          >
      </div>

      </section>