
<nav class="px-6 py-3 flex justify-between bg-gray-200">

      <div class="" >
        <a class="text-3xl font-bold pr-8" href="#">Foodweb</a>
        <a class="text-xl font-medium px-4" aria-current="page" href="{% url 'food:index' %}">Home</a>
        <a class="text-xl font-medium px-4" href="#">Profile</a>
        <a class="text-xl font-medium px-4" href="#">Dash board</a>
      </div>

      <form class="" role="search">
        <input class="rounded-xl p-2" type="search" placeholder="Search" aria-label="Search">
        <button class="" type="submit">Search</button>
      </form>

      <div class=" ">
    
        {% if user.is_authenticated %}
          <a class="p-2 text-lg font-medium  rounded-xl"> Welcom! {{ user.username }}</a>
          <a class="p-2 text-lg font-medium bg-teal-100 rounded-xl " href="{% url 'user:logout' %}">Logout</a>
    
        {% else %}
          <a class="p-2 text-lg font-medium bg-indigo-200 rounded-xl" href="{% url 'user:signup'%}">Sign Up</a>
          <a class="p-2 text-lg font-medium bg-indigo-200 rounded-xl" href="{% url 'user:login' %}">Login</a>
    
        {% endif %}
    
    
      </div>
    </nav>